*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 95%;
    height: 110vh;
    background-color: rgb(52,56,61);
}
.kutular{
    width: 100%;
    display: flex;
    
}
.kutubir{
    width: 400px;
    height: 540px;
    border-radius: 2%;
    background-color: white;
    margin-top: 110px;
}
.kutuiki{
    width: 400px;
    height: 630px;
    border-radius: 2%;
    background-color: white;
    margin-top: 30px;
}
.kutuüç{
    width: 400px;
    height: 570px;
    border-radius: 2%;
    background-color: white;
    margin-top: 95px;
}
.icerik{
    margin: 20px;
}
.yazi{
    margin-bottom: 10px;
    width: 50px;
    height: 25px;
    background-color: rgb(200,204,208);
    border-radius: 15% 15% 15% 15%;
}
.btn{
    width: 250px;
    background-color: rgb(227,230,232);
    color: black;
    box-sizing: 0; 
}
.yazi2{
    margin-bottom: 10px;
    width: 65px;
    height: 25px;
    background-color: rgb(59,64,69);
    border-radius: 15% 15% 15% 15%;
    color:white
}
.yazi4{
    margin-bottom: 10px;
    width: 85px;
    height: 25px;
    background-color: rgb(43,45,110);
    border-radius: 15% 15% 15% 15%;
    color:white
}
.buton3{
    background-color: rgb(43,45,110);
    color: white;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 6%;
}
.buton3:hover{
    background-color: rgb(30,35,95);
}
.buton2{
    background-color: rgb(52,56,61);
    color: white;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 6%;
}
.buton2:hover{
    background-color: rgb(90,90,90);
    color: white;
}
.buton1{
    background-color: rgb(200,204,208);
    color: black;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 6%;
}
.buton1:hover{
    background-color: rgb(180,180,180);
    color: black;
}
.box-1{
    width: 300px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 4%;
    text-align: center;
    align-items: center;
}
.kutu-yazisi{
    margin-top: 30px;
    color: white;
    font-size: 18px;
}
strong{
    color: rgb(10,149,255);
}
.box-2{
    width: 300px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 4%;
}
.box-3{
    width: 300px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 4%;
    margin-left: px;
}
.box-4{
    width: 300px;
    height: 160px;
    border: 1px solid gray;
    border-radius: 4%;
}
.son-kutu{
    margin-top: 30px;
    color: white;
    font-size: 18px;
}
.kutu-butonu{
    padding: 8px 30px;
    font-size: 16px;
    background-color: rgb(52,56,61);
    color: rgb(10,149,255);
    border: 2px solid rgb(10,149,255);
    cursor: pointer;
    border-radius: 10px;
}
.kutu-butonu:hover{
    background-color: rgb(50,50,50);
}
.box-4:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.resimler{
    margin-top: 100px;
    z-index: 0;
}
.resim-yazi{
    color: rgb(200,204,208);
}
.resim-yazi a{
    text-decoration: none;
}
.resim-yazi a:hover{
    color: rgb(3, 151, 250);
}

.baslik{
    color: white;
    font-size: 40px;
    margin-top: 5px;
}
.ikonbir{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 15%;
    margin-top: 20px;
}
.ikoniki{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 15%;
    margin-top: 20px;
}
.ikonuc{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 15%;
    margin-top: 20px;
}
.ikondort{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 15%;
    margin-top: 20px;
}
.ikonbes{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 15%;
    margin-top: 20px;
}
.ikonaltiyazi{
    color: rgb(200,204,208);
    margin-top: 60px;
}
.container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    margin-top: 40px;
}
.box1{
    width: 240px;
    height: 180px;
    background-color: rgb(227,230,232);
    border-radius: 6%;
}
.box2{
    width: 240px;
    height: 180px;
    background-color: rgb(227,230,232);
    border-radius: 6%;
}
.box3{
    width: 240px;
    height: 180px;
    background-color: rgb(227,230,232);
    border-radius: 6%;
}
.box4{
    width: 240px;
    height: 180px;
    background-color: rgb(227,230,232);
    border-radius: 6%;
}
.gucluyazi{
    color: black;
}
.container-2{
    width: 100%;
}
.col{
    margin-top: 100px;
    justify-content: space-evenly;
}
.text-1{
    width: 230px;
    height: 230px;
    background-color: white;
    margin-top: 160px;
}
.text-2{
    width: 230px;
    height: 230px;
    background-color: white;
    margin-top: 160px;
}
.text-3{
    width: 230px;
    height: 230px;
    background-color: white;
    margin-top: 160px;
}
.text-4{
    width: 230px;
    height: 230px;
    background-color: white;
    margin-top: 160px;
}




@media only screen and (max-width: 1550px){
    .col-12{
        margin-top: 50px;
    }
}




